// COLORS
// $primary-color: #00ff7f;
// $secondary-color: #1AC185;
$primary-color: #1AC185;
$secondary-color: #00ff7f;


// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #000;

$dark-grey: #333333;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
